<div class="w-full mb-5 pt-3">
  <nav class="w-10/12 mx-auto h-14 flex justify-between items-center px-2">
    <div class="flex items-center">
      <a
        class="text-2xl text-white flex items-center font-bold font-serif"
        href="#"
      >
        <img class="w-10 h-10 mr-2" src="assets/img/video_grande.png" />MisPelis
      </a>
    </div>

    <div class="hidden sm:flex items-center justify-center">
      <a
        *ngIf="this.fireService.logged"
        class="text-lg text-white font-bold mr-3 flex items-center"
        routerLink="/account"
      >
        <img
          class="w-6 object-center mr-2 rounded-full"
          *ngIf="this.fireService.userData.photoURL != null"
          [src]="this.fireService.userData.photoURL"
          alt=""
        />
        <img
          *ngIf="this.fireService.userData.photoURL == null"
          class="w-6 object-contain mr-2"
          src="assets\img\profile-user.png"
          alt=""
        />
        Mi cuenta</a
      >

      <a
        class="text-lg text-white font-bold hidden sm:flex items-center justify-center"
        href="#"
        *ngIf="!this.fireService.logged"
        (click)="goLogin($event)"
      >
        <img
          class="w-5 object-contain mr-2"
          src="assets\img\profile-user.png"
          alt=""
        />
        <p>Log in</p>
      </a>

      <a
        class="text-lg text-white font-normal hidden sm:flex items-center justify-center"
        href="#"
        *ngIf="this.fireService.logged"
        (click)="this.fireService.logOut()"
      >
        <p>Log out</p>
      </a>
    </div>
    <div id="ruedita" class="flex justify-end sm:hidden">
      <div class="group ml-6 w-12">
        <button
          class="outline-none focus:outline-none px-3 py-1 rounded flex items-center min-w-32 h-12 w-full justify-center"
        >
          <span>
            <img
              class="fill-current ml-2 h-5 w-5 transform group-hover:-rotate-180 transition duration-150 ease-in-out"
              src="assets\img\settings.png"
            />
          </span>
        </button>
        <!-- Nav normal -->
        <ul
          id=""
          class="bg-[#18242a] text-white rounded transform scale-0 group-hover:scale-100 absolute right-12 transition duration-150 ease-in-out origin-top min-w-32 w-36 z-50"
        >
          <li
            *ngIf="this.fireService.logged"
            id=""
            class="px-2 py-1 hover:bg-[#304954] flex items-center"
          >
            <a
              class="text-base text-white flex items-center"
              routerLink="/account"
            >
              <img
                class="w-5 object-center mr-2 rounded-full"
                *ngIf="this.fireService.userData.photoURL != null"
                [src]="this.fireService.userData.photoURL"
                alt=""
              />
              <img
                *ngIf="this.fireService.userData.photoURL == null"
                class="w-5 object-contain mr-2"
                src="assets\img\profile-user.png"
                alt=""
              />
              Mi cuenta</a
            >
          </li>

          <li
            *ngIf="this.fireService.logged"
            class="rounded-sm px-3 py-1 hover:bg-[#304954] items-center"
          >
            <div class="opacity-100 text-white">
              <a
                class="text-white flex items-center"
                href="#"
                (click)="this.fireService.logOut()"
              >
                <img
                  class="w-4 object-contain mr-2"
                  src="assets\img\logout.png"
                  alt=""
                />
                <p>Log out</p>
              </a>
            </div>
          </li>
          <li
            class="rounded-sm px-3 py-1 hover:bg-opacity-70 flex items-center"
            (click)="goLogin($event)"
            *ngIf="!this.fireService.logged"
          >
            <img
              class="w-3.5 object-contain mr-2"
              src="assets\img\profile-user.png"
              alt=""
            />

            <div class="opacity-100 text-white">Login</div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
