<div
  class="w-full bg-gradient-to-l from-cyan-900 via-sky-800 to-cyan-900 mb-5 pt-3"
>
  <nav class="w-10/12 mx-auto h-14 flex justify-between items-center px-4">
    <div class="flex items-center">
      <a class="text-lg text-white flex items-center font-bold" href="#">
        <img class="w-7 h-7 mr-2" src="assets/img/video.png" />Inicio
      </a>
      <div>
        <a class="text-base text-white ml-3 font-bold" href="#">Películas</a>
        <a class="text-base text-white ml-3 font-bold" href="#">About us</a>
      </div>
    </div>

    <a class="text-lg text-white font-bold" href="#">Log in</a>
  </nav>
</div>
